.scroll-top-btn {
  position: fixed;
  bottom: 10px;
  right: -10px;
  padding: 10px;
  background: var(--org-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  transition: .3s ease-in-out;
  opacity: 0;
}
.scroll-top-btn.visable {
  right: 10px;
  opacity: 1;
}